<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href=".\static\style.css">
    </head>
    <body>
        <div class="login-container">
            <h2>LOGIN</h2>
            <form method="post" action="/login">
                <div class="box">
                    <label>Username</label>
                    <input type="text" name="username">
                </div>
                <div class="box">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <input type="submit" value="LOG IN">
            </form>
            <a href="{{ url_for('register') }}"><h5>SIGN UP</h5></a>
        </div>
        </html>
    </body>